@import "reset"
@import "wheel"
@import "win"
@import "playButton"

body {
  font-family: 'Lato', sans-serif;
  background: #f9f9f9;
}

.title {
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
  padding: 20px;
  color: #777;
}


