.playButton {
  position: relative
  left: 50%;
  margin-top: 28px;
  transform: translate(-50%, 0);
  padding: 12px 36px 12px 36px;
  text-align: center;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #000;
  border: 2px solid #000;
  transition: .3s ease-in;
  &:hover {
    background: #000;
    color: #fff;
  }
  &:focus {
    outline: none;
  }
}