.wheelContainer {
  display: flex;
  .wheel {
    flex: 1;
    padding: 10px;
    .color {
      padding: 30px;
      text-align: center;
      color: #fff;
      font-size: 2rem;
    }
    .initialMsg {
      background: #000;
      padding: 30px;
      color: #fff;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
