.winsCounter {
  font-size: 1.5rem;
  color: #777;
  padding-left: 20px;
}

.overlayWinMsg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #000;
  opacity: 0.8;
  cursor: pointer;
  border: none;

  .winMsg {
    position: absolute;
    color: #fff;
    font-size: 3.5rem;
    letter-spacing: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}